In [1]:
# Uses Decision tree to predict if the stock price will be higher or lower than todays price

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd
import pandas_datareader as web

In [3]:
# Load the stock data
stock = 'TSLA'
start_date = '2020-03-01'
end_date = '2020-10-01'
df = web.DataReader(stock, 'yahoo', start_date, end=end_date)

In [4]:
#Manipulate data
# 1 = increased; 2 = decreased
df['Price_Up'] = np.where(df['Adj Close'].shift(-1) > df['Adj Close'], 1, 0)
df = df.drop(columns=['High', 'Low', 'Open', 'Close', 'Volume'])

In [5]:
#Split the data set into a feature data set and a target data set
X = df.iloc[:, 0:df.shape[1] - 1].values
Y = df.iloc[:, df.shape[1] -1].values

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.05)

In [7]:
# Create and train the model
tree = DecisionTreeClassifier().fit(X_train, Y_train)

# Show how well the model did on the test data
print(tree.score(X_test, Y_test))

0.75

In [8]:
# Show the models predictions
tree_predictions = tree.predict(X_test)
print(tree_predictions)

[1 1 0 1 1 0 1 0]

In [9]:
print(Y_test)

[1 1 1 1 0 0 1 0]

In [10]:
count = 0
for i in range(0,Y_test.size):
  if tree_predictions[i] == Y_test[i]:
    count = count + 1

print(count / Y_test.size)

0.75

In [11]:
df.tail()

             Adj Close  Price_Up
Date
2020-09-25  407.339996         1
2020-09-28  421.200012         0
2020-09-29  419.070007         1
2020-09-30  429.010010         1
2020-10-01  448.160004         0